body {
	padding: 0px;
	margin: 0px;
	background: #b1aaa9;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
}

div.wrapper {
	width: 900px;
	margin: auto;
	margin-top: 80px;
}

div.header {
	background-color: #FFF;
	height: 65px;
	border-bottom: 4px solid #dddddd;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	padding-left: 15px;
}

div.logo {
	float: left;
	height: 65px;
}

div.logo a {
	margin-top: 12px;
	display: block;
}


ul.navi {
	width: auto;
padding: 0px;
margin: 0px;
padding-right: 25px;
}

ul.navi li {
	line-height: 65px;
	float: right;
	list-style: none;
	padding-left: 15px;
	padding-right: 15px;
}

ul.navi li a {
	text-decoration: none;
	color: #646464;
}

ul.navi li a:hover {
	text-decoration: underline;
}